@tailwind base;
@tailwind components;
@tailwind utilities;

html,
div {
  scroll-behavior: smooth !important;
}

@layer base {
  body {
    @apply bg-white text-gray-800 tracking-widest;
    /* font-family: "Nunito", sans-serif; */
    font-family: "Josefin Sans", sans-serif;
    
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
    font-family: "Josefin Sans", sans-serif;
  }
  h2 {
    @apply text-3xl sm:text-4xl;
    font-family: "Josefin Sans", sans-serif;
  }

  li {
    @apply cursor-pointer;
    /* font-family: "Outfit", "sans-serif"; */
  }
  p {
    
    font-family: "Dongle", sans-serif;
    @apply text-2xl sm:text-5xl md:text-3xl;
  }
  button {
    @apply shadow-xl shadow-gray-300 rounded-xl uppercase bg-gradient-to-r from-sky-400 to-purple-400 text-white font-semibold;
  }
}
